* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  border: 2px solid black;
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
}
.grid-btn {
  margin-bottom: 40px;
  padding: 10px;
}

.container > div {
  border: 1px solid hsla(0, 0%, 0%, 10%);
  border-style: dashed;

  flex: auto;
}
